* {
    font-family: 'Raleway', sans-serif;
}
body {
    text-align: center;
}
header {
    background-size: cover;
    color: white;
    position: relative;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    top: 0;
    left: 0;
    z-index: 999999;
}
#largehead {
    font-size: 3.5em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h2 {
    font-size: 1.25em;
    padding-bottom: 0px;
    font-weight: 600;
}
.sunrise-time,
.sunset-time {
    display: inline-block;
    margin: 0 auto;
    padding: 20px 60px 40px 60px;
}
#rise,
#set,
.name {
    font-weight: 700;
    color: #4B0082;
}
#sunrise,
#sunset,
#latlong {
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
}
#latlong {
    display: inline-block;
}

.location {
    padding-bottom: 20px;
    color: #4B0082;
}

footer {
    padding-top: 40px;
    bottom: 0;
    width: 100%;
}

#mapid {
    margin-top: 40px;
    display: block; 
    width: 800px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    }

.sunset:before {
    font-family: 'iconvault';
    font-size: 4em;
    content: '\f110';
    color: rgb(252, 212, 64);
}
.sunrise:before {
    font-family: 'iconvault';
    font-size: 4em;
    content: '\f112';
    color: rgb(252, 212, 64);
}

header {
    background: #4B0082;
}

footer, .sunset-time, .location {color: #4B0082;}